# Print Function In Python

Syntax of Print() function

print() is a buitl-in-function_or_method, which means it is a predefined or a builtin Python fuction.

print(object_name, sep="chractor", end="chractor", file=sys.stdout, flush=False)

In [ ]:
type(print)

builtin_function_or_method

In [ ]:
print("hi...... \n want to learn python")

hi......
 want to learn python

# call A Veriable in print() function

In [ ]:
a=3
print(a)

3

In [ ]:
# when two objects are passed in print function

a=3
print('a =',a)

a = 3

In [ ]:
name= "Anil Kamboj"
age=29
print("my name is",name,"and my age is", age)

my name is Anil Kamboj and my age is 29

### print() function ends with "**" as set in the end argument.

In [ ]:
print ("Rerady for Python", end= "**  ")
print("Welcome .... You !")

Rerady for Python**  Welcome .... You !

### Flush Argument

# The end parameter of  print function()

The end parameter is used to append any string at the end of the output of the print statement in python. By default, the print method ends with a newline. This means there is no need to specify the parameter end as next line ('\n'). If we apply end parameter in side the print function, it add next string (line) at the end of previous string (line).

syntex
--- print('first String', end='second string')

In [ ]:
print('a', end='')

a

In [ ]:
print('a', end=' ')

a

In [ ]:
print('a', end='')
print('b', end='')

ab

In [ ]:
print('a', end=' ')
print('b', end=' ')
print('c')

a b c

In [ ]:
print("Python is easy", end= " ")
print("and Start from Today.", end= " ")
print("Let's enjoy  it. ")

Python is easy and Start from Today. Let's enjoy  it.

### "sep parameter" in Python function
#### print() with separator
if "sep" arguments passed to the program can be separated by different values. The default value for sep is whitespace.

In [ ]:
print('datacamp','tutorial','on','python','print','function')

datacamp tutorial on python print function

In [ ]:
print('tutorial','on','python','print','function',sep='\n') #`\n` will put each word in a new line

tutorial
on
python
print
function

In [ ]:
# sep Function with comma
print('datacamp','tutorial','on','python','print','function',sep=',')

datacamp,tutorial,on,python,print,function

In [ ]:
a=3
print("a=", a, sep='***', end='***')

a=***3***

In [ ]:
a=3
print("", a, sep='***', end='***')

***3***

### print() with separator and end parameters

In [ ]:
string="Python is Top Learning Language "
print("",string, sep='********** ',end='**********')

********** Python is Top Learning Language **********

# The format method of print() function : -   {}, .format()

Formatting string using format() method
*we can pass three types of arguments in print function   
formatting for default, positional and keyword arguments                                                                                                                           ---------
                                                                                                                           Syntax: ‘String here {} then also {}’.format(‘something1′,’something2’)

In [ ]:
# formating for defaults argument
print('We want to learn {}.'.format('PYTHON'))

We want to learn PYTHON.

In [ ]:
# default arguments
print("Hello {}, your balance is {}.".format("Amit", 230.2346))

Hello Amit, your balance is 230.2346.

In [ ]:
# positional arguments
print('{2} {1} {0}'.format('love','is', 'life'))

life is love

In [ ]:
# positional arguments
print("Hello {0}, your balance is {1}.".format("Amit", 230.2346))

Hello Amit, your balance is 230.2346.

In [ ]:
# keyword arguments
print("Hello {name}, your balance is {blc}".format(name="Amit", blc=230.2346))

Hello Amit, your balance is 230.2346

In [ ]:
# mixed arguments
print("Hello {0}, your balance is {blc}.".format("Amit", blc=230.2346))

Hello Amit, your balance is 230.2346.

# The.format() method has many advantages over the placeholder method:

With the help of format method, we insert object by using index-based position:

# Place holder format() method using print() function
we pass one parameter inside the format function, which places the value passed as a parameter in the placeholder position. {} represent the placeholder position.

In [ ]:
str = "Vicky is a nice {}"
print(str.format("boy"))

Vicky is a nice boy

In [ ]:
#format option for value stored in a variable
str = "Roshan is a nice {} and he is {}"
print(str.format("leader","young"))

Roshan is a nice leader and he is young

In [ ]:
# Call a Variable in print() function by.format() method
Balls = 7
print("The Juggler has {} balls !".format(Balls))

The Juggler has 7 balls !

In [ ]:
print("Sammy has {0:17} red {1:7}".format(5,"ballooooooooooooooooooooons"))

Sammy has                 5 red ballooooooooooooooooooooons

###  If you have a really long format string that you don’t want to split up, it would be nice if you could reference the variables to be formatted by name instead of by position. This can be done by simply passing the dict and using square brackets '[]' to access the keys.

In [ ]:
empty_dict = {}
# Here is a prefilled dictionary
filled_dict = {"one": 1, "two": 2, "three": 3}

In [ ]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 8637678}
print('Jack: {Jack:d}; Sjoerd: {Sjoerd:d}; Dcab: {Dcab:d}'.format(**table))

Jack: 4098; Sjoerd: 4127; Dcab: 8637678

# Float precision with the.format() method:
Syntax: {[index]:[width][.precision][type]}
‘d’ for integers
‘f’ for floating-point numbers
‘b’ for binary numbers
‘o’ for octal numbers
‘x’ for octal hexadecimal numbers
‘s’ for string
‘e’ for floating-point in an exponent format

In [ ]:
# integer arguments
print("The number is:{:d}".format(123))

The number is:123

In [ ]:
# integer arguments
print("The number is:{:2d}".format(123))

The number is:123

In [ ]:
# integer numbers with minimum width
print("{:5d}".format(12))

   12

In [ ]:
# width doesn't work for numbers longer than padding
print("{:2d}".format(1234))

1234

In [ ]:
# integer numbers with minimum width filled with zeros
print("{:05d}".format(12))

00012

In [ ]:
# by default format() function sense datatypes , when data types not defined
print("{:5}".format(12))

   12

In [ ]:
#format method a list is printed

In [ ]:
nums = [1, 10, 13, 2, 43, 2, 3, 100]
for x in nums:
    print(format(x, ">3"))

  1
 10
 13
  2
 43
  2
  3
100

# format seprator with comma, or "_" when data in integer format

In [ ]:
x = 1000000

print(f"{x:,}")  # 1,000,000
print(f"{x:_}")  # 1_000_000

1,000,000
1_000_000

In [ ]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.
#Use "<" to left-align the value:

txt = "We have {:<5} chickens."
print(txt.format(49))

We have 49    chickens.

In [ ]:
# integer left alignment filled with zeros
print("{:<05d}".format(12))

12000

In [ ]:
# integer with center alignment filled with zeros
print("{:^07d}".format(123))

0012300

In [ ]:
# integer = alignment filled with zeros
print("{:=05d}".format(12))

00012

In [ ]:
# float arguments,here f is used for declare float data type
print("The float number is:{:f}".format(123.4567898))

The float number is:123.456790

In [ ]:
# float arguments
print("The float number is:{:.2f}".format(123.4567898))

The float number is:123.46

In [ ]:
# float arguments {:pading.upto_digits f->(float)
print("The float number is:{:7.2f}".format(123.4567898))

The float number is: 123.46

In [ ]:
# float arguments
print("The float number is:{0:4f}".format(123.4567898))

The float number is:123.456790

In [ ]:
# padding for float numbers, 8= padding,after .pt, upto 3 positon
print("{:8.3f}".format(12.2346))

  12.235

In [ ]:
# padding for float numbers filled with zeros
print("{:08.3f}".format(12.2346))

0012.235

In [ ]:
# float numbers with center alignment
print("{:^10.3f}".format(12.2346))

  12.235

In [ ]:
# float numbers with left side alignment of alloted padding alignment
print("{:<10.3f}".format(12.2346))

12.235

In [ ]:
# float numbers with right side allignment
print("{:>10.3f}".format(12.2346))

    12.235

In [ ]:
print("Sammy ate {0:.1f} percent of a pizza!".format(75.765367))

Sammy ate 75.8 percent of a pizza!

### String formatting with padding and alignment¶

In [ ]:
# string padding with left alignment
print("{:5}".format("dog"))

dog

In [ ]:
# string padding with right alignment
print("{:>5}".format("cat"))

  cat

In [ ]:
# string padding with center alignment
print("{:^5}".format("cat"))

 cat

In [ ]:
print("{:*^20s}".format("IndiaIsOne"))

*****IndiaIsOne*****

In [ ]:
print("{:*^20s}".format("India Is One"))

****India Is One****

In [ ]:
# {start_padding: end_padding.no of float|types of data} . format()
print("Sammy ate {0:5.0f} percent of a pizza!".format(75.765367))

Sammy ate    76 percent of a pizza!

### When Mixed argumment is passed in print() function

In [ ]:
# left-align the number and center the string:

print("India have {0:<4} States and 8{1:^23}!".format(29, "union territories"))

India have 29   States and 8   union territories   !

In [ ]:
f'{name}!'
'Hello,Bob!'

'Hello,Bob!'

### Strings can be assigned to variable say string1 and string2 which can called when using the print statement.

In [ ]:
str1 = 'Wel'
print(str1,'come')

Wel come

In [ ]:
str1 = 'Welcome'
str2 = 'Python'
print(str1, str2)

Welcome Python

# String Concatenation:

String concatenation is the "addition" of two strings. Observe that while concatenating there will be no space between the strings.

In [ ]:
str1 = 'Python'
str2 = ':'
print('Welcome' + str1 + str2)

WelcomePython:

# Using as String:

%s is used to refer to a variable which contains a string.

In [ ]:
str1 = 'Python'
print("Welcome %s" % str1)  # %s is used for type of variable data types and % gives reference of variable,

Welcome Python

In [ ]:
a = 2
b = "careercodes"
print("%d is an integer while %s is a string."%(a,b))

2 is an integer while careercodes is a string.

# data types:

%d -> Integer
%e -> exponential
%f -> Float
%o -> Octal
%x -> Hexadecimal

In [ ]:
print(34+67)

101

In [ ]:
x=0.30456789
format(x,"%")

'30.456789%'

# Mixed Data types passing to print() Function

In [ ]:
msg = b"general kenobi"
for byte in msg:
    print(byte)

103
101
110
101
114
97
108
32
107
101
110
111
98
105

In [ ]:
# Mixed Data types passing to print() Function

list = [10,20,30]
tuple = ("Apple","Ball")
string = "welcome"

# printing the objects
print(list,tuple,string)

[10, 20, 30] ('Apple', 'Ball') welcome

In [ ]:
print(dir())

['Balls', 'In', 'Out', '_', '_1', '_60', '_67', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i28', '_i29', '_i3', '_i30', '_i31', '_i32', '_i33', '_i34', '_i35', '_i36', '_i37', '_i38', '_i39', '_i4', '_i40', '_i41', '_i42', '_i43', '_i44', '_i45', '_i46', '_i47', '_i48', '_i49', '_i5', '_i50', '_i51', '_i52', '_i53', '_i54', '_i55', '_i56', '_i57', '_i58', '_i59', '_i6', '_i60', '_i61', '_i62', '_i63', '_i64', '_i65', '_i66', '_i67', '_i68', '_i69', '_i7', '_i70', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'a', 'age', 'b', 'byte', 'empty_dict', 'exit', 'filled_dict', 'get_ipython', 'list', 'msg', 'name', 'nums', 'quit', 'str', 'str1', 'str2', 'string', 'table', 'tuple', 'txt', 'x']

In [ ]:
# Print A function named "value"

In [ ]:
items=([1,2,3,4])
def value(items):
    for items in item:
        print(item)

In [ ]:
value([1,2,3,4])
def value(items):
    for item in items:
        print(item,end=' ' )

### Decimal, Octal, Hexadecimal Numbers formatting with format()

In [ ]:
 # Binary representation
print('{:b}'.format(100))

In [ ]:
print('{:X}'.format(3487)) #Hexadecimal representation (uppercase letters)

In [ ]:
print('{:#x}'.format(100))   #Hexadecimal representation (including the 0x)

In [ ]:
print('{:c}'.format(100)) # Character representation

In [ ]:
print('{:d}'.format(100)) # Decimal representation (default)

In [ ]:
print('{:o}'.format(100)) #Octal representation

In [ ]:
print('{:%}'.format(0.66)) #Percentage

# Truncating strings with format()

In [ ]:
# truncating strings to 3 letters
print("{:.3}".format("caterpillar"))

In [ ]:
# truncating strings to 3 letters
# and padding, right alignment
print("{:*>5.3}".format("caterpillar"))

In [ ]:
# truncating strings to 3 letters,
# padding and center alignment
print("{:^5.3}".format("caterpillar"))